@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600;800&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Acme&family=Spectral:ital,wght@0,400;0,500;1,400;1,500&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  font-family: "Poppins", sans-serif;
}
html{
  scroll-behavior: smooth;
}
a{
  text-decoration: none;
}

/* ------Navbar------- */
header{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100000;
  transition: 300ms;
}
header.sticky{
  background-color: whitesmoke;
  padding: 5px 0px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.4);
}
.navbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color:transparent;
  color: white;
  padding: 10px 50px;
}


.dropmenu {
  position: relative;
  /* margin: auto; */
}
.logo {
  border: none;
  width: 210px;
  background-color:transparent;
  font-weight: 600;
  font-size: 24px;
  color: blue;
  text-align: center;
  cursor: pointer;
  
}
.logo:hover{
  color:black;
  transform: scale(1.1);
}

.dropmenu-contents {
  display: none;
  z-index: 1;
  position: absolute;
  background-color:whitesmoke;
  text-align: center;
  padding: 10px 5px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  width: 100%;
}
.dropmenu:hover .dropmenu-contents {
  display: block;
}
.dropmenu-contents p {
  margin: 10px;
  font-size: 18px;
  transition: 200ms;
}
.dropmenu-contents a {
  text-decoration: none;
  color: black;
  font-weight: 600;
  text-transform: uppercase;
  text-align: center;
  transition: 300ms;
  border-radius: 8px;
}
.dropmenu-contents p a:hover {
  color:white ;
  padding: 8px;
  background-color: blue;
}
.navleft{
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}

.navtext{
  margin-right: 20px;
  font-size: 18px;
  background-color:blue;
  padding: 3px 8px;
  border-radius: 8px;
  color: white;
  font-weight: 600;
  transition: 200ms;

}
.navtext:hover{
  background-color: whitesmoke;
  color: black;
}
.icons{
  font-size: 25px;
}
.icon {
  cursor: pointer;
  margin: 0px 10px;
  transition: 200ms;
  padding: 7px;
  
}
.icon:hover {
  transform: scale(1.25);
  background-color:lightgray;
  border-radius: 20px;

}
@media(max-width:840px){
  .navleft{
    display: none;
  }
  .logo{
    font-size: 40px;
  }
  .navbar{ 
    margin-top: 10px;
    padding: 10px 20px;
  }
  .header.sticky{
    padding: 0;
  }
 
}
@media(min-width:840px){
  .offcanvas{
    display: none;
  }
  .offcanvas-btn{
    display: none;
  }
}
@media(max-width:450px){
  .logo{
    font-size:25px;
    text-align: start;
   
  }
  .navbar{
    padding: 5px 20px;
    margin-top:5px;
  }
  .navleft-1 .icons{
    font-size: 18px;
    text-align: center;
  }
}

/* ---------------HERO------------ */
#hero {
  position: relative;
  height: 100vh;
  background-image: url("/bg/bg1.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
}
.hero-col{
  height: 90vh;

}
.herotext{
  text-transform: uppercase;
  font-family: 'Acme', sans-serif;
}
.herotext span{
  color:blue;
  font-family: 'Acme', sans-serif
}
.hero-button{
  
  background-color: blue;
  width: 250px;
  padding: 5px;
  font-size: 22px;
  font-weight: 600;
  border-radius: 10px;
  border: 2px solid black;
  margin: 20px 10px;
  transition: 200ms;
 
}
.hero-button:hover{
transform: translateY(-5px);
background-color: transparent;
}
.hero-button a{
  color: white ;
  padding: 10px;
}
.hero-button a:hover{
  color:blue;
}
.mission{
  font-family: 'Acme', sans-serif;
}

@media(max-width:450px){
  .hero-button{
    font-size: 12px;
    width: 135px;
  }
  #hero{
    height: 90vh;
  }
}

/* --------Agency Section-------- */
#agency{
  min-height: 100vh;
  background-image: url(/bg/bg2-1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}



.agency-heading{
  font-family: 'Acme', sans-serif
}


.agency-col span{
  color: blue;
  font-family: 'Acme', sans-serif
}


@media(max-width:450px){
  .agency-row{
    flex-direction: column-reverse;
  }
}

/* ---------Store Section---------- */
#store{
  background-image:url(/bg/bg2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  min-height: 100vh;
}
.store-heading{
  font-family: 'Acme', sans-serif
}

.store-heading span{
  color:blue;
  font-family: 'Acme', sans-serif
}


.store-video{
  width: 700px;
}
@media(max-width:500px){
  .store-video{
    width: 350px;
  }
  .store-row{
    flex-direction: column-reverse;
  }
}
/* ----------Values Section----------- */

#values{
  height: 100%;
  background-image: url(/bg/bg4.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
.values-heading{
  font-family: 'Acme', sans-serif
}
.values-heading span{
  color: blue;
  font-family: 'Acme', sans-serif
}

.card{
  transition: 200ms;
}
.card:hover{
  transform: translateY(-20px);
}

/* ---------------Sustainability----------- */

#sustainability{
  height: 100%;
  background-image: url(/bg/bg4-01.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
.sus span{
  color: #ffc107;
}
.sus-img{
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}
.sus-video{
  width: 1120px;
  height: 630px;
}

.partner-card{
  width: 150px;
  height: 150px;
  border-radius: 50%;
}
@media(max-width:830px){
.partner-card{
  width: 100px;
  height: 100px;
}
.sus-video{
  width: 560px;
  height: 315px;
}
}
@media(max-width:450px){
  .partner-card{
    width:60px;
    height: 60px;
  }
  .footer-icon{
    font-size: 10px;
  }.footer-text{
    font-size: 15px;
  }

}

/* ---------Footer-------- */

.footer-text{
  color: #ffc107;
}